p.summary {
background-color: rgb(13, 172, 13);
font-family: Courier;
}

h2.name {
    font-size: 300%;
}

.center {
    text-align: center;
    font-size:1vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container{
  width: 100%;
  text-align: center;
}

.link
{
	text-align:center;
	    font-size:50px;

}